.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  background-color: #fff;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;
}
.header-ttl {
  font-size: 24px;
  width: 80px;
}
.header-nav {
  display: block;
}
.header-nav-list {
  display: flex;
  font-weight: bold;
}
nav ul {
  list-style: none;
}
.header-nav-item:not(:last-child) {
  margin-right: 30px;
}
li {
  display: list-item;
}
a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}
.menu {
  display: none;
}
.drawer-nav {
  display: none;
}

.page-mv {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: url(../img/mv.png) center / cover;
}
.ttl {
  font-size: 30px;
  font-weight: bold;
}
/* h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
} */

.ptb-m {
  padding: 80px 0;
}
.wrap {
  width: 1080px;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}
div {
  display: block;
}
img {
  width: 100%;
  height: auto;
}
.service-item-ttl {
  font-size: 24px;
  font-weight: bold;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.bottom-contact {
  background-color: #f5f6f9;
  text-align: center;
}
.bottom-contact-txt {
  margin-top: 10px;
}
.bottom-contact-btn {
  margin: 40px auto 0;
}
.btn {
  display: block;
  width: 300px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background-color: #cd0224;
  color: #fff;
}

.footer {
  padding: 20px 0;
  color: #fff;
  background-color: #222;
}
.footer-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}
.footer-nav-list {
  display: flex;
  flex-wrap: wrap;
}

.footer-nav-item::after {
  content: "|";
  display: inline-block;
  padding: 0 10px;
}
footer-nav-item {
  display: flex;
}
.wrap-s {
  width: 960px;
  margin: 0 auto;
}


/* mainspace */
.top {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/mv.png) center / cover;
  color: #fff;
}
.top-mv-main-copy {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}
.top-mv-sub-copy {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.message {
  color: #fff;
  background-color: #222;
}
.message2 {
  margin-top: 20px;
}
.top-service-ttl {
  text-align: center;
}
.top-service-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.top-service-btn {
  margin: 40px auto 0;
}
.top-service-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.top-service-item {
  width: 48%;
  margin-top: 20px;
  margin-right: calc(100% - (49% * 2));
}
.top-news {
  background-color: #222;
}
.top-news-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-news-ttl {
  color: #fff;
}
.top-news-btn {
  width: 160px;
  font-size: 14px;
  padding: 7px;
}
.top-news-list {
  margin-top: 20px;
}
.top-news-item-link {
  background-color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
}
.top-news-item:not(:first-child) {
  margin-top: 10px;
}
.top-blog-ttl {
  text-align: center;
}
.top-blog-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
}
.top-blog-item {
  width: 31%;
  margin-right: calc((100% - (32% * 3)) / 2);
}
.top-blog-btn {
  margin: 40px auto 0;
}
.top-company-list {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding-top: 0;
  height: 240px;
}
.top-company-item {
  width: 50%;
  height: 240px;
}
.top-company-item-link {
  display: inline-block;
  width: 100%;
  line-height: 10;
  text-align: center;
}
.top-recruit-link {
  background-color: #222;
}
.top-company-link {
  background-color: #cd0224;
}